h1, p {
    text-align: center;
    color: cornflowerblue;
  }

  .content {
    min-height: calc(100vh - 100px);
    padding: 50px;
    /* padding: 40px 40px 0 40px; */
  }
  .footer {
    background-color: cornflowerblue;
    color: white;
    text-align: center;
    height: 100px;
  }
  .github {
    height: 70px;
  }